body {
	background-image: url(th:src="@{/images/categories/black_lozenge.png}");
}

.panel-default > #principalHeading {
	background-color:  #1a1a1a;
	color: #999999;
	font-size: 40px;
}

.panel-default > #categoryHeading {
	background-color:  #1a1a1a;
	color:  #999999;
	font-size: 20px;
}
