<!DOCTYPE html>
<html>
<head>
<title th:text="#{titleHeader}"></title>
<meta charset=UTF-8>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link th:href="@{/css/stylePanel.css}" rel="stylesheet">
</head>
<body>
	      <div class="container">
      	<div class="row">
      		<div class="col-sm-6" style="height:55px; padding-top: 20px;">
        		<span>Copyrigth @ 2017  CoreVises</span>
        	</div>
        	<div class="col-sm-6">
        		<div style="height:55px; padding-top: 5px;">
  					<a href="URL DE TU RED SOCIAL"><img class="img-thumbnail img-responsive" th:src="@{/images/footer/facebookLogo.png}"/></a>
  					<a href="URL DE TU RED SOCIAL"><img class="img-thumbnail img-responsive" th:src="@{/images/footer/facebookLogo.png}"/></a>
  					<a href="URL DE TU RED SOCIAL"><img class="img-thumbnail img-responsive" th:src="@{/images/footer/facebookLogo.png}"/></a>
  					<a href="URL DE TU RED SOCIAL"><img class="img-thumbnail img-responsive" th:src="@{/images/footer/facebookLogo.png}"/></a>
				</div>
        	</div>
      </div>
    	</div>
</body>
</html>
