
<!DOCTYPE html>
<html>
<head>
<meta charset=UTF-8>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="http://fonts.googleapis.com/css?family=Open+Sans">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
	<footer class="footer" style="height:55px; width: 100%;">
      <div class="container">
      	<div class="row">
      		<div class="col-sm-6" style="height:55px; padding-top: 20px;">
        		<span>Copyrigth @ 2017  CoreVises</span>
        	</div>
        	<div class="col-sm-6">
        		<div style="height:55px; padding-top: 5px;">
  					<a href="URL DE TU RED SOCIAL"><img class="img-thumbnail img-responsive" src="C:/Users/gerra/git/Spring-Proyecto-I-Aplicada/src/main/resources/images/footer/facebookLogo.png"/></a>
  					<a href="URL DE TU RED SOCIAL"><img class="img-thumbnail img-responsive" src="C:/Users/gerra/git/Spring-Proyecto-I-Aplicada/src/main/resources/images/footer/twitterLogo.png"/></a>
  					<a href="URL DE TU RED SOCIAL"><img class="img-thumbnail img-responsive" src="C:/Users/gerra/git/Spring-Proyecto-I-Aplicada/src/main/resources/images/footer/instagramLogo.png"/></a>
  					<a href="URL DE TU RED SOCIAL"><img class="img-thumbnail img-responsive" src="C:/Users/gerra/git/Spring-Proyecto-I-Aplicada/src/main/resources/images/footer/youtubeLogo.png"/></a>
				</div>
        	</div>
      </div>
    	</div>
    </footer>
</body>
</html>