<!DOCTYPE html>
<html>
<head>
<title>CoreVises</title>
<meta charset=UTF-8>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link th:href="@{/css/stylePanel.css}" rel="stylesheet">
<link rel="stylesheet"
	href="http://fonts.googleapis.com/css?family=Open+Sans">
</head>
<body>
	<!--  Carga el header -->
	<div class="header"></div>
	
	<div class="container-fluid text-center">
		<br>
		<div class="row">
			<div class="col-sm-2">
				<div class="panel panel-default" id="categoryPanel">
					<div class="panel-heading" id="categoryHeading">Categorias</div>
					<div class="panel-body">
						<ul class="list-group">
							<!--for para asignar las categorias que se traen del mvc-->
							<!-- muestra -->
							<li class="list-group-item"><button type="button"
									class="btn btn-link">Tecnologia</button></li>
							<li class="list-group-item"><button type="button"
									class="btn btn-link">Linea blanca</button></li>
							<li class="list-group-item"><button type="button"
									class="btn btn-link">Ropa</button></li>
							<li class="list-group-item"><button type="button"
									class="btn btn-link">Libros</button></li>
							<li class="list-group-item"><button type="button"
									class="btn btn-link">Accesorios</button></li>
						</ul><!-- fin de el menu de categorias -->
					</div><!-- fin del body del panel -->
				</div><!-- fin del panel -->
			</div><!-- row fin col 2-sm -->

			<div class="col-sm-10">
				<div class="panel panel-default" id="principalPanel">
					<div th:if="${productList}">
						<div th:if="${productList.isEmpty()}">
						<br>
							<div class="alert alert-danger">
								<strong>Error</strong>
									<h4>Ha ocurrido un problema</h4>
							</div>
						</div>
					</div>

					<div th:if="${!productList.isEmpty()}">
						<div class="panel-heading" id="principalHeading">Ropa</div>
						<div class="panel-body">
							<div class="row">
								<div class="panel panel-default" id="productPanel" th:each="entry,status : ${productList}">
									<div class="panel-heading" th:text="${entry.name}"></div>
									<div class="panel-body">
									<!-- ejemplo de como se mostraran los productos -->
										<div class="col-sm-4">
											<img class="img-thumbnail img-responsive"
											th:src="@{/images/categories/blusa de mujer.jpeg}">
										</div>
										<div class="col-sm-4">
											<h4 th:text="${entry.description}"></h4>
										</div>
										<div class="col-sm-4">
											<h1 th:text="${entry.price}"></h1>
											<h4>
												USD<span class="glyphicon glyphicon-usd"></span>500.00
											</h4>
											<button type="button" class="btn-lg">
												<span class="glyphicon glyphicon-shopping-cart"></span>
												Agregar al Carrito
											</button>
										</div>

									</div><!-- panel body-->
								</div><!-- panel panel-default-->
							</div><!-- row-->
						</div><!-- panel-body-->
					</div><!-- verificacion que la lista tenga elementos -->
				</div><!--panel panel-default panelPrincipal -->
			</div><!-- col-sm-10 -->
		</div><!-- row-->
		<div th:if="${quantityProducts>5}">
			<div class="container">
				<ul class="pagination">
					<li th:if="${pageActual>0}"><a th:href="@{/List/prev}" name="prev">Prev</a></li>
					<li th:if="${totalPages>pageActual}"><a th:href="@{/List/next}" name="next">Next</a></li>
				</ul>
			</div>
		</div>
		
	</div><!-- container-fluid text-center -->
	
	<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>