<!DOCTYPE html>
<html>
<head>
<title th:text="#{titleList}"></title>
<meta charset=UTF-8>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link th:href="@{/css/stylePanel.css}" rel="stylesheet">
<link rel="stylesheet"
	href="http://fonts.googleapis.com/css?family=Open+Sans">
</head>
<body>
	<!--  Iframe -->
	<div class="header">
	</div>
	
	<!-- Permite que salga la opcion de cambiar idioma -->
	<div class="container">
		<div style="margin-left: 82%; padding-top: 8px;">
			<span th:text="#{lang.change}"></span>: <select id="locales">
				<option value=""></option>
				<option value="en" th:text="#{lang.eng}"></option>
				<option value="es" th:text="#{lang.es}"></option>
			</select>
		</div>
	</div>
	
	<div class="container-fluid text-center">
		<br>
		<div class="row">
			<div class="col-sm-2">
				<div class="panel panel-default" id="categoryPanel">
					<div class="panel-heading" id="categoryHeading" th:text="#{headerCategoryList}"></div>
					<div class="panel-body">
						<ul class="list-group">
							<!--for para asignar las categorias que se traen del mvc-->
							<!-- muestra -->
							<li class="list-group-item">
								<button type="button" class="btn btn-link" th:text="#{tecnologyCategoryList}"></button></li>
							<li class="list-group-item">
								<button type="button" class="btn btn-link" th:text="#{lineaBlancaCategoryList}"></button></li>
							<li class="list-group-item">
								<button type="button" class="btn btn-link" th:text="#{ropaCategoryList}"></button></li>
							<li class="list-group-item">
								<button type="button" class="btn btn-link" th:text="#{bookCategoryList}"></button></li>
							<li class="list-group-item">
								<button type="button" class="btn btn-link" th:text="#{accesoriosCategoryList}"></button></li>
							</li>
						</ul><!-- fin de el menu de categorias -->
					</div><!-- fin del body del panel -->
				</div><!-- fin del panel -->
			</div><!--fin del row de 2 que contiene la categorias  -->
			
			<div class="col-sm-10">
				<div class="panel panel-default" id="principalPanel">
					<div th:if="${productList}">
						<div th:if="${productList.isEmpty()}">
						<br>
							<div class="alert alert-danger">
								<strong th:text="#{errorList}"></strong>
									<h4 th:text="#{messageErrorList}"></h4>
							</div>
						</div>
					</div>
				<div th:if="${!productList.isEmpty()}">
						<div class="panel-heading" id="principalHeading" th:text="#{headerProductList}"></div>
						<div class="panel-body">
							<div class="row">
								<div class="panel panel-default" id="productPanel" th:each="entry,status : ${productList}">
									<div class="panel-heading" th:text="${entry.name}"></div>
									<div class="panel-body">
									<!-- ejemplo de como se mostraran los productos -->
										<div class="col-sm-4">
											<img class="img-thumbnail img-responsive"
											th:src="@{/images/categories/blusa de mujer.jpeg}">
										</div>
										<div class="col-sm-4">
											<h4 th:text="${entry.description}"></h4>
										</div>
										<div class="col-sm-4">
											<h1 th:text="${'CRC '+entry.price}"></h1>
											<!-- <h4 th:text="${'USD '+entry.dollarPrice}">
											</h4>-->
											<button type="button" class="btn-lg" th:text="#{cartButtonList}">
												<span class="glyphicon glyphicon-shopping-cart"></span>
											</button>
										</div>

									</div><!-- panel body-->
								</div><!-- panel panel-default-->
							</div><!-- row-->
						</div><!-- panel-body-->
					</div><!-- verificacion que la lista tenga elementos -->
				</div><!--panel panel-default panelPrincipal -->
			</div><!-- col-sm-10 -->
		</div><!-- row-->
		<div th:if="${quantityProducts>5}">
			<div class="container">
				<ul class="pagination">
					<li th:if="${pageActual>0}"><a th:href="@{/List/prev}" name="prev" th:text="#{prevPaginationList}"></a></li>
					<li th:if="${totalPages>pageActual}"><a th:href="@{/List/next}" name="next" th:text="#{nextPaginationList}"></a></li>
				</ul>
			</div>
		</div>
	</div><!-- container-fluid text-center -->
	
	<div class="footer"></div>
	
		<!-- Script que permite cambiar el idioma -->
	<script type="text/javascript">
		$(document).ready(function() {
			$("#locales").change(function() {
				var selectedOption = $('#locales').val();
				if (selectedOption != '') {
					window.location.replace('List?lang=' + selectedOption);
				}
			});
		});
	</script>
	
	<script th:inline="javascript">
	var id=[[${busqueda}]]
	$(document).ready(function() {
    $("#locales").change(function () {
        var selectedOption = $('#locales').val();
        if (selectedOption != ''){
            window.location.replace('List?search='+id+'?lang=' + selectedOption);
        }
    });
});
</script>
	<!-- 	Permite cargar el header y footer -->
	<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>