<!DOCTYPE html>
<html>
<script src='https://www.google.com/recaptcha/api.js'></script>
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link th:href="@{/css/StyleLogin.css}" rel="stylesheet">
<link rel="stylesheet"
	href="http://fonts.googleapis.com/css?family=Open+Sans">
<title>Login</title>
</head>
<body>

	<div class="Header"></div>
	<div class="container" align="center"
		style="margin-top: 12%; width: 30%; height: 30%">

		<form action="#" th:action="@{}" method="post">
			<div class="panel panel-default">
				<div class="panel-heading">Sing in to CoreVises</div>
				<div class="panel-body">
					<div class="form-group" style="max-width: 70%;">
						<input name="user" type="text" class="form-control"
							placeholder="Username">
					</div>
					<div class="form-group" style="max-width: 70%;">
						<input name="password" type="password" class="form-control"
							placeholder="Password">
					</div>
					<div class="g-recaptcha"
						data-sitekey="6LcmkCUUAAAAADsglxGAmFm73E7zyFSl00f5YWjT"></div>
					<div class="modal-footer">
						<div class="row">
							<div class="col-sm-2" style="border-color: #0E8E99;">
								<button type="submit" name="login" class="btn btn-success">
									Login</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
<div class="Footer"></div>

</body>
</html>