<!DOCTYPE html>
<html>
<head>
<title th:text="#{titlePrincipal}"></title>
<meta charset=UTF-8>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link th:href="@{/css/icofont.css}" rel="stylesheet">

</head>
<body>
	<div class="header"></div>

	<!-- Permite que salga la opcion de cambiar idioma -->
	<div class="container">
		<div style="margin-left: 82%; padding-top: 8px;">
			<span th:text="#{lang.change}"></span>: <select id="locales">
				<option value=""></option>
				<option value="en" th:text="#{lang.eng}"></option>
				<option value="es" th:text="#{lang.es}"></option>
			</select>
		</div>
	</div>
	
	
	<!-- Container (Categories Section) -->
	<div class="container-fluid text-center">
  		<br>
  	
  		<div class="row">
    		<div class="col-sm-4">
      			<h4>Nombre Categoria</h4>
      			<img class="img-thumbnail img-responsive" th:src="@{/images/categories/lineaBlanca.jpg}">
      			<a href="#">CategoriaXX</a>
    		</div>
    
    		<div class="col-sm-4">
      			<h4>Nombre Categoria</h4>
      			<img class="img-thumbnail img-responsive" th:src="@{/images/categories/lineaBlanca.jpg}">
      			<a href="#">CategoriaXX</a>
    		</div>
    	
    		<div class="col-sm-4">
      			<h4>Nombre Categoria</h4>
      			<img class="img-thumbnail img-responsive" th:src="@{/images/categories/lineaBlanca.jpg}">
      			<a href="#">CategoriaXX</a>
    		</div>
  		</div>

	<div class="footer"></div>	

	<!-- Script que permite cambiar el idioma -->
	<script type="text/javascript">
		$(document).ready(function() {
			$("#locales").change(function() {
				var selectedOption = $('#locales').val();
				if (selectedOption != '') {
					window.location.replace('Principal?lang=' + selectedOption);
				}
			});
		});
	</script>
	
	<script type="text/javascript">
		$(function(){
			$(".footer").load("/Footer.html");
		});
	</script>
	<script type="text/javascript" th:src="@{/js/script.js}"></script>

</body>
</html>