
<!DOCTYPE html>
<html>
<head>
<title>CoreVises</title>
<meta charset=UTF-8>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="http://fonts.googleapis.com/css?family=Open+Sans">
</head>
<body>

	<!--  Iframe -->
	<div>
		<iframe width="100%" height="100%" id=iframe src="Header.html" scrolling="yes" frameborder="0" ></iframe>
	</div>

	<!-- Container (Categories Section) -->
	<div class="container-fluid text-center">
  		<br>
  	
  		<div class="row">
    		<div class="col-sm-4">
      			<h4>Nombre Categoria</h4>
      			<img class="img-thumbnail"  class="img-responsive" src="C:/Users/gerra/git/Spring-Proyecto-I-Aplicada/src/main/resources/images/categories/lineaBlanca.jpg">
      			<a href="#">CategoriaXX</a>
    		</div>
    
    		<div class="col-sm-4">
      			<h4>Nombre Categoria</h4>
      			<img class="img-thumbnail"  class="img-responsive" src="C:/Users/gerra/git/Spring-Proyecto-I-Aplicada/src/main/resources/images/categories/lineaBlanca.jpg">
      			<a href="#">CategoriaXX</a>
    		</div>
    	
    		<div class="col-sm-4">
      			<h4>Nombre Categoria</h4>
      			<img class="img-thumbnail"  class="img-responsive" src="C:/Users/gerra/git/Spring-Proyecto-I-Aplicada/src/main/resources/images/categories/lineaBlanca.jpg">
      			<a href="#">CategoriaXX</a>
    		</div>
  		</div>

  		<br><br>
  
 	 	<div class="row">
  			<div class="col-sm-4">
      			<h4>Nombre Categoria</h4>
      			<img class="img-thumbnail"  class="img-responsive" src="C:/Users/gerra/git/Spring-Proyecto-I-Aplicada/src/main/resources/images/categories/lineaBlanca.jpg">
      			<a href="#">CategoriaXX</a>
    		</div>
    	
    		<div class="col-sm-4">
      			<h4>Nombre Categoria</h4>
      			<img class="img-thumbnail"  class="img-responsive" src="C:/Users/gerra/git/Spring-Proyecto-I-Aplicada/src/main/resources/images/categories/lineaBlanca.jpg">
      			<a href="#">CategoriaXX</a>
    		</div>

    		<div class="col-sm-4">
      			<h4>Nombre Categoria</h4>
      			<img class="img-thumbnail"  class="img-responsive" src="C:/Users/gerra/git/Spring-Proyecto-I-Aplicada/src/main/resources/images/categories/lineaBlanca.jpg">
      			<a href="#">CategoriaXX</a>
    		</div>
  		</div>
	</div>
</body>
</html>