<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link th:href="@{/css/StyleRegister.css}" rel="stylesheet">
<link rel="stylesheet"
	href="http://fonts.googleapis.com/css?family=Open+Sans">
<title>Register</title>
</head>

<style>
.body {
	background-color: #E8E8E3
}

.panel-default>#registerPanel {
	background-color: #FFB50F;
}
</style>

<body class="body">

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">

				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>

				<a class="navbar-brand" href="#">CoreVises</a>
			</div>

			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><input style="margin-top: 7px;" class="form-control"
						type="text" id="search"
						placeholder="Ingresa tu criterio de busqueda" size=40px></li>
					<li><a href="#" id="btn-search"> <span
							class="glyphicon glyphicon-search"></span> Buscar
					</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"> <span class="glyphicon glyphicon-user"></span>
							Login
					</a></li>
					<li><a href="#"> <span class="glyphicon glyphicon-inbox"></span>
							Sing Up
					</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<script
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

	<script type="text/javascript">
		$('#search').animate({
			width : 'toggle'
		}).focus();
	</script>

	<script type="text/javascript">
		(function() {
			$('#btn-search').on('click', function(e) {
				var text = document.getElementById('search').value;
				if (text == "") {
					e.preventDefault();
					$('#search').animate({
						width : 'toggle'
					}).focus();
				} else {
					location.href = "List?search=" + text;
				}
			});

		}());
	</script>

	<div class="row">

		<div class="col-sm-6" align="center">
		<img  class="img-responsive" th:src="@{/images/wallpapers/wallpaper1.png}">
		</div>
		<div class="col-sm-6">
			<div class="container"
				style="align-content: center; width: 70%; height: 10%;">

				<!-- <form action="#" th:action="@{}" method="post"> -->
					<div class="panel-default" id="registerPanel">
						<div class="panel-heading" id="registerPanel"
							style="text-align: center">
							<font color="white">Register in to CoreVises</font>
						</div>
						<div class="panel-body">

							<div class="form-group" style="max-width: 100%;">
								<label class="form-group" for="text">Identification
									card:</label> <input name="idCard" type="text" class="form-control"
									placeholder="1-1111-1111">
							</div>
							<div class="form-group" style="max-width: 100%;">
								<label for="text">Name:</label> <input name="name" type="text"
									class="form-control" placeholder="Full name">
							</div>
							<div class="form-group" style="max-width: 100%;">
								<label for="email">Email:</label> <input name="email"
									type="email" class="form-control"
									placeholder="example@gmail.com">
							</div>
							<div class="form-group" style="max-width: 100%;">
								<label for="text">Address:</label> <input name="address"
									type="text" class="form-control" placeholder="Full address">
							</div>
							<div class="form-group" style="max-width: 100%;">
								<label for="text">Phone number:</label> <input name="phone"
									type="text" class="form-control" placeholder="8888-8888">
							</div>
							<div class="modal-footer" style="max-width: 100%;">
								<div class="row">
									<div class="col-sm-2" style="border-color: #0E8E99;">
										<button type="submit" name="btnRegister" class="btn btn-warning">
											Sing up</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				<!-- </form> -->
			</div>
		</div>
	</div>

	<footer class="footer"
		style="background-color: #000000; height: 55px; width: 100%;">
		<div class="container">
			<div class="row">
				<div class="col-sm-6" style="height: 54px; padding-top: 20px;">
					<span><font color="white">Copyrigth @ 2017 CoreVises</font></span>
				</div>
				<div class="col-sm-6">
					<div style="height: 50px; padding-top: 5px;">
						<a href="URL DE TU RED SOCIAL"><img
							class="img-thumbnail img-responsive"
							th:src="@{/images/footer/facebookLogo.png}" /></a> <a
							href="URL DE TU RED SOCIAL"><img
							class="img-thumbnail img-responsive"
							th:src="@{/images/footer/facebookLogo.png}" /></a> <a
							href="URL DE TU RED SOCIAL"><img
							class="img-thumbnail img-responsive"
							th:src="@{/images/footer/facebookLogo.png}" /></a> <a
							href="URL DE TU RED SOCIAL"><img
							class="img-thumbnail img-responsive"
							th:src="@{/images/footer/facebookLogo.png}" /></a>
					</div>
				</div>
			</div>
		</div>
	</footer>

</body>
</html>